# Ігнорування бази даних
db.sqlite3

# Ігнорування кешу та службових файлів
pycache/
*.pyc
*.pyo
*.log

# Ігнорування IDE
.vscode/
.idea/

# Ігнорування віртуального оточення
env/
venv/

# Ігнорування файлів ОС
.DS_Store
Thumbs.db